In [1]:
import sys
sys.path.append('./../../')

In [2]:
import ikamoana
import numpy as np
import pandas as pd
import xarray as xr

In [4]:
xml_filepath="./../../data/SEAPODYM_data/run-test/skj_interim_CL_2018_testopt.xml"
fh = ikamoana.feedinghabitat.FeedingHabitat(xml_filepath)

In [5]:
fh.data_structure.coords['time'].data[:10]

array(['1979-01-15T00:00:00.000000000', '1979-02-14T00:00:00.000000000',
       '1979-03-17T00:00:00.000000000', '1979-04-16T00:00:00.000000000',
       '1979-05-17T00:00:00.000000000', '1979-06-16T00:00:00.000000000',
       '1979-07-17T00:00:00.000000000', '1979-08-16T00:00:00.000000000',
       '1979-09-15T00:00:00.000000000', '1979-10-16T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [6]:
sum_before = []
for k,v in fh.data_structure.variables_dictionary.items() :
    sum_before.append(v.sum().data)
sum_before = np.array(sum_before)

fh.data_structure.normalizeCoords()

sum_after = []
for k,v in fh.data_structure.variables_dictionary.items() :
    sum_after.append(v.sum().data)
sum_after = np.array(sum_after)

assert not False in ((sum_before - sum_after) == 0)

In [7]:
fh.data_structure.coords['time'].data[:10]

array(['1979-01-01T00:00:00.000000000', '1979-02-01T00:00:00.000000000',
       '1979-03-01T00:00:00.000000000', '1979-04-01T00:00:00.000000000',
       '1979-05-01T00:00:00.000000000', '1979-06-01T00:00:00.000000000',
       '1979-07-01T00:00:00.000000000', '1979-08-01T00:00:00.000000000',
       '1979-09-01T00:00:00.000000000', '1979-10-01T00:00:00.000000000'],
      dtype='datetime64[ns]')